*.vsidx
*.lock
*.v2
*.cache
*.editorconfig
*.sentinel
*.BuildWithSkipAnalyzers
*.config
*.dll
*.pdb
*.txt
*.CopyComplete
.vs/CampProject/v17/.suo
.vs/CampProject/v17/.futdcache.v1
CampProject/obj/CampProject.csproj.nuget.g.targets
CampProject/obj/CampProject.csproj.nuget.g.props
CampProject/CampProject.csproj
